.main-buscador {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
.div-buscador {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.div-buscador form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border-radius: 25px;
    padding: 5px;
    background-color: var(--cornsilk);
    box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
}
.div-buscador form input[type="text"]:focus  {
    outline: none;
}
.buscador {
    width: 60%;
    background-color: var(--cornsilk);
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-family: var(--lato);
}
.buscador, .input-buscar, .filtros {
    height: 35px;
}
.input-buscar {
    font-family: var(--lato);
    color: var(--texto_gris);
    border: none;
    border-radius: 20px;
    width: 90px;
    background-color: var(--color_ter);
    cursor: pointer;
    transition: transform 0.2s ease;
}
.input-buscar:active {
    transform: scale(0.9);
}
.filtros {
    background-color: var(--cornsilk);
    width: 16%;
    border: none;
    border-radius: 25px;
    height: 45px;
    box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
}
.contenedor-filtros {
    width: 300px;
}
.btns-filtro {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.btns-filtro button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btns-filtro button:active {
    transform: scale(0.9);
}
.btns-filtro .btn-tipo-desactivado:hover {
    background-color: #e8e8e8;
}
.btns-filtro button i {
    font-size: 1.3em;
}
.btn-tipo-activado {
    background-color: var(--color_ter);
}
.btn-tipo-activado:active {
    background-color: var(--color_pri);
}
.ingredientes {
    width: 100%;
    transition: opacity 0.5s ease;
}
.ingredientes .btn-agregar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--color_ter);
    transition: background-color 0.5s ease transform 0.2s ease;
}
.ingredientes .btn-agregar:hover {
    background-color: var(--color_pri);
}
.ingredientes .btn-agregar:active {
    transform: scale(0.97);
}
.ingredientes .btn-agregar:disabled {
    cursor: not-allowed; 
    transform: none;
    background-color: #ccc; 
}
#lis-rec { /*Lista de recetas*/
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    width: 250px;
    border: 2px solid var(--color_pri);
    border-radius: 5px;
    background-color: var(--fondo);
}
.div-rec-buscador {
    width: 100%;
}
#buscador-ingrediente {
    width: 100%;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    padding: 5px;
    border: 2px solid var(--gris);
    border-radius: 5px;
}
#buscador-ingrediente:focus, #buscador-ingrediente:focus-visible {
    outline: none;
}
.contenedor-lista-ing {
    display: flex;
    flex-direction: column;
}
.lista-desactiva {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 10px 5px;
    box-shadow: none;
    z-index: -1;
}
.lista-activa {
    opacity: 1;
    max-height: 450px;
    display: flex;
    height: auto;
    overflow: auto;
    padding: 10px 5px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
    z-index: 20;
}
.lista-ing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid #6f6f6f;
}
.agregar-ingrediente {
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}
.agregar-ingrediente i {
    display: block;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 600;
}
.ingredientes-selec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.pildora-ingrediente {
    display: flex;
    margin: 7px 5px;
    flex-direction: row;
    padding: 5px 7px;
    border-radius: 7px;
    border: 2px solid var(--vainilla);
    align-items: center;
}
.pildora-ingrediente .btn-cerrar {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    margin: auto;
}
.pildora-ingrediente .btn-cerrar i {
    padding: 5px;
    font-weight: bold;
}
.pildora-ingrediente .btn-cerrar:hover {
    display: block;
    color: #b51d1d;
}
.pildora-ingrediente .btn-cerrar:disabled {
    color: var(--gris);
    cursor: not-allowed; 
}
.parrafo-ing, .btn-cerrar {
    color: var(--gris);
}
.ingredientes-selec-des {
    cursor: not-allowed;
    opacity: 0.5;
}
/* ESTILOS A CONTENEDOR RESULTADO*/
.resultado {
    text-align: center;
    width: 95%;
    margin: 15px auto;
}
.resultado #titulo-busqueda {
    font-family: var(--alegraya);
    font-size: 2em;
}
.resultado #parrafo-busqueda {
    font-size: 1.2em;
}
/*PRELIMINAR*/
/*VENTANA MODAL*/
.fondo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
    z-index: 1002;
}
.ventana-filtro {
    /*Propiedades para que sea ventana modal*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Acomodar lo elementos dentro*/
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    width: 80%;
    justify-content: center;
    alignment-baseline: center;
    overflow: auto;
    padding: 20px;
    /*Estilo visual a la ventana modal*/
    background-color: var(--fondo);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
}
.cerrar {
    display: flex;
    height: 25px;
    width: 100%;
    justify-content: end;
}
.lista-filtros {
    width: 100%;
}
.lista-filtros li button {
    margin: 10px auto;
    font-weight: 800;
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
}
.lista-filtros li ul {
    border-radius: 25px;
}


.nav-movil-activo {
    border-radius: 50%;
    background-color: var(--crema);
}
.nav-movil-activo a {
    color: var(--cafe);
}
/* ESTILO A TARJETAS */
.resultado {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: start;
}
.resultado a {
    display: block;
    width: calc(25% - 7.5px); 
}
.cont-receta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    margin: 10px 0;
    overflow: hidden;
    list-style: none;
    border-radius: 10px;
    border: 1px solid var(--color_pri);
    width: 100%;
    /*Sombra a la tarjeta*/
    box-shadow: 3px 5px 5px 1px rgba(99,22,0,0.32);
    -webkit-box-shadow: 3px 5px 5px 1px rgba(99,22,0,0.32);
    -moz-box-shadow: 3px 5px 5px 1px rgba(99,22,0,0.32);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
.cont-receta:hover {
    transform: translateY(-5px) translateX(3px);
    box-shadow: 6px 10px 8px 3px rgba(99,22,0,0.5);
    -webkit-box-shadow: 6px 10px 8px 3px rgba(99,22,0,0.5);
    -moz-box-shadow: 6px 10px 8px 3px rgba(99,22,0,0.5);
}
.cont-receta .img-receta {
    width: 100%;
    height: 60%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
}
.cont-receta .img-receta img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont-receta .texto-receta {
    height: 40%;
    padding: 10px 5px;
}
.texto-receta p {
    margin: 10px 0;
}
.receta-titulo {
    height: 30%;
}
.receta-titulo h2 {
    font-family: var(--alegraya);
    margin-bottom: 10px;
}
.receta-datos {
    height: 70%;
}
.detalles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pildora-det {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 8px;
    background-color: var(--color_pri);
    border-radius: 12px;
    gap: 8px;
    white-space: nowrap;
}
.pildora-det p {
    display: flex;
    align-items: center;
    gap: 3px;
}
/*FIN ESTILOS CARDS*/
/*ESTILO COLUMNAS A USUARIOS*/

.tarjeta-usuario {
    background-color: var(--fondo);
    border: 3px solid var(--color_pri);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    text-align: left;
}
.tarjeta-usuario:hover {
    transform: translateY(-3px) translateX(1px);
    box-shadow: 4px 4px 6px rgba(99,22,0,0.5);
    -webkit-box-shadow: 4px 4px 6px rgba(99,22,0,0.5);
    -moz-box-shadow: 4px 4px 6px rgba(99,22,0,0.5);
}

/* Estilo del nombre de usuario */
.usuario-nombre {
    font-size: 1.4em;
    font-family: var(--alegraya);
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Línea divisoria */
hr {
    border: none;
    border-top: 1px solid var(--color_pri);
    margin: 10px 0;
}

/* Estilo de la línea de datos (Recetas, Calificación, etc.) */
.usuario-dato {
    font-size: 1em;
    color: #333;
    margin: 5px 0;
}

/* Estilo del valor numérico (para resaltarlo) */
.valor-dato {
    font-weight: bold;
    color: var(--marron_chocolate);
}


/* --- 3. Responsive (Se vuelve 1 columna en pantallas pequeñas) --- */
@media (max-width: 768px) {
    .usuarios-contenedor {
        /* En pantallas pequeñas, solo muestra 1 columna */
        grid-template-columns: 1fr;
    }
}
/*FIN ESTILO USUARIOS*/

/*ESTILO CUANDO NO HAY RECETA*/
.sin-receta {
    display: flex;
    margin: 15vh 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sin-receta h3 {
    font-family: var(--alegraya);
}
.sin-receta a {
    display: block;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    width: 200px;
    background-color: var(--color_pri);
}
/*RESPONSIVO*/
@media screen and (min-width: 768px) {
    .div-buscador form {
        width: 60%;
    }
    .filtros {
        display: none;
    }
}