.main-buscador {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
.div-buscador {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.div-buscador form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border-radius: 25px;
    padding: 5px;
    background-color: var(--cornsilk);
    box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
}
.div-buscador form input[type="text"]:focus  {
    outline: none;
}
.buscador {
    width: 60%;
    background-color: var(--cornsilk);
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-family: var(--lato);
}
.buscador, .input-buscar, .filtros {
    height: 35px;
}
.input-buscar {
    font-family: var(--lato);
    color: var(--texto_gris);
    border: none;
    border-radius: 20px;
    width: 90px;
    background-color: var(--color_ter);
    cursor: pointer;
}
.filtros {
    background-color: var(--cornsilk);
    width: 16%;
    border: none;
    border-radius: 25px;
    height: 45px;
    box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
}
.resultado {
    width: 100%;
}
.contenedor-filtros {
    width: 300px;
}
.btns-filtro {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.btns-filtro button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btns-filtro button:active {
    transform: scale(0.9);
}
.btns-filtro .btn-tipo-desactivado:hover {
    background-color: #e8e8e8;
}
.btns-filtro button i {
    font-size: 1.3em;
}
.btn-tipo-activado {
    background-color: var(--color_ter);
}
.btn-tipo-activado:active {
    background-color: var(--color_pri);
}
.ingredientes {
    width: 100%;
    transition: opacity 0.5s ease;
}
.ingredientes .btn-agregar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--color_ter);
    transition: background-color 0.5s ease transform 0.2s ease;
}
.ingredientes .btn-agregar:hover {
    background-color: var(--color_pri);
}
.ingredientes .btn-agregar:active {
    transform: scale(0.97);
}
.ingredientes .btn-agregar:disabled {
    cursor: not-allowed; 
    transform: none;
    background-color: #ccc; 
}
#lis-rec { /*Lista de recetas*/
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    width: 250px;
    border: 2px solid var(--color_pri);
    border-radius: 5px;
    background-color: var(--fondo);
}
.div-rec-buscador {
    width: 100%;
}
#buscador-ingrediente {
    width: 100%;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    padding: 5px;
    border: 2px solid var(--gris);
    border-radius: 5px;
}
#buscador-ingrediente:focus, #buscador-ingrediente:focus-visible {
    outline: none;
}
.contenedor-lista-ing {
    display: flex;
    flex-direction: column;
}
.lista-desactiva {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 10px 5px;
    box-shadow: none;
    z-index: -1;
}
.lista-activa {
    opacity: 1;
    max-height: 450px;
    display: flex;
    height: auto;
    overflow: auto;
    padding: 10px 5px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
    z-index: 20;
}
.lista-ing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid #6f6f6f;
}
.agregar-ingrediente {
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}
.agregar-ingrediente i {
    display: block;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 600;
}
.ingredientes-selec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.pildora-ingrediente {
    display: flex;
    margin: 7px 5px;
    flex-direction: row;
    padding: 5px 7px;
    border-radius: 7px;
    border: 2px solid var(--vainilla);
    align-items: center;
}
.pildora-ingrediente .btn-cerrar {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    margin: auto;
}
.pildora-ingrediente .btn-cerrar i {
    padding: 5px;
    font-weight: bold;
}
.pildora-ingrediente .btn-cerrar:hover {
    display: block;
    color: #b51d1d;
}
.pildora-ingrediente .btn-cerrar:disabled {
    color: var(--gris);
    cursor: not-allowed; 
}
.parrafo-ing, .btn-cerrar {
    color: var(--gris);
}
.ingredientes-selec-des {
    cursor: not-allowed;
    opacity: 0.5;
}
/*PRELIMINAR*/
/*VENTANA MODAL*/
.fondo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
    z-index: 1002;
}
.ventana-filtro {
    /*Propiedades para que sea ventana modal*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Acomodar lo elementos dentro*/
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    width: 80%;
    justify-content: center;
    alignment-baseline: center;
    overflow: auto;
    padding: 20px;
    /*Estilo visual a la ventana modal*/
    background-color: var(--fondo);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
}
.cerrar {
    display: flex;
    height: 25px;
    width: 100%;
    justify-content: end;
}
.lista-filtros {
    width: 100%;
}
.lista-filtros li button {
    margin: 10px auto;
    font-weight: 800;
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(76,21,0,0.5);
}
.lista-filtros li ul {
    border-radius: 25px;
}


.nav-movil-activo {
    border-radius: 50%;
    background-color: var(--crema);
}
.nav-movil-activo a {
    color: var(--cafe);
}
/*RESPONSIVO*/
@media screen and (min-width: 768px) {
    .div-buscador form {
        width: 60%;
    }
    .filtros {
        display: none;
    }
}