.main-receta {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.opciones {
    position: fixed;
    display: flex;
    width: 200px;
    margin-top: 10px;
    padding: 16px 8px;
    justify-content: space-around;
    background: rgb(254, 223, 119, 0.80);
    border-radius: 33px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
    border-radius: 26px;
    z-index: 200;
    transition: all 0.5s ease;
}
/*Contenedor de advertencia*/
.modal-pendiente {
    display: flex;
    align-items: center;
    max-width: 500px;
    background-color: #FCD34E;
    margin: 10px 0;
    padding: 30px 25px;
    border-radius: 10px;
}
.modal-pendiente p, .modal-pendiente i {
    font-size: 1.2em;
    color: #936A42;
}
.info-receta {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: auto;
    width: 100%;
}
.div-img {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.div-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.titulo-ing {
    font-family: var(--alegraya);
}
.texto-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 5px;
    width: 90%;
}
.texto-info p {
    display: block;
}
.pasos {
    margin: 15px 0;
}
.paso-receta {
    margin: 20px 0;
}
/*ESTILO VENTANA MODAL*/
.modal-receta {
    position: fixed;
    visibility: 0;
    opacity: 0;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, display 0.3s ease-in-out, z-index 0.1s ease-in-out;
}
.ventana-modal {
    border-radius: 12px;
    background-color: var(--fondo);
}
.texto {
    margin: 30px 25px;
}
.activo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: visible;
    opacity: 100;
}
/*ESTILOS A ELEMENTOS DE ADMIN*/
#admin-cerrar {
    display: flex;
    width: 100%;
    background: none;
    border: none;
}
#admin-cerrar i {
    width: 25px;
    margin-left: auto;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color_pri);
    color: var(--cornsilk);
}
/*RESPONSIVO*/
@media screen and (min-width: 426px) {
    .main-receta {
        flex-direction: column;
    }
    .opciones {
        position: sticky;
        top: 10px;
        width: 400px;
    }
    .info-receta {
        padding-top: 20px;
    }
}
@media screen and (min-width: 769px) {
    .main-receta {
        padding-left: 110px;
    }
    .opciones {
        top: 133px;
        margin-top: 20px;
    }
    .div-img {
        height: 70vh;
    }
}