.main-receta {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-left: 20px;
}
.info-fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 175px;
    margin-top: 10px;
    margin-left: auto;
    padding: 16px 8px;
    justify-content: space-around;;
    border-radius: 33px;
    background-color: var(--fondo);
    border: 2px solid var(--color_pri);
    border-radius: 26px;
    z-index: 200;
    transition: all 0.5s ease;
}
.opciones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.opciones hr {
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid var(--color_pri);
}
.info-fixed .opciones button {
    background: none;
    border: none;
    cursor: pointer;
}
.info-fixed .opciones button i {
    font-size: 1.5em;
}
/*Estilo para cuando el usuario no haya iniciado sesion*/
.opciones-sin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 10px;
    text-align: center;
}
.opciones-sin a {
    display: block;
    width: 50%;
    background-color: var(--color_pri);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    transition: color 0.3s ease;
}
.opciones-sin a:hover {
    color: var(--cornsilk);
}
/*Contenedor de advertencia*/
.modal-pendiente {
    display: flex;
    align-items: center;
    max-width: 500px;
    background-color: #FCD34E;
    margin: 10px 0;
    padding: 30px 25px;
    border-radius: 10px;
}
.modal-pendiente p, .modal-pendiente i {
    font-size: 1.2em;
    color: #936A42;
}
.info-receta {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 435px;
}
.div-img {
    position: absolute;
    right: 0;
    height: 40vh;
    width: 1000px;
    overflow: hidden;
    position: relative;
}
.div-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.titulo-ing {
    font-family: var(--alegraya);
}
.texto-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    width: 40%;
}
.texto-info p {
    display: block;

}
.pasos {
    margin: 15px 0;
}
.paso-receta {
    margin: 20px 0;
}
/*ESTILO VENTANA MODAL*/
.modal-receta {
    position: fixed;
    visibility: 0;
    opacity: 0;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, display 0.3s ease-in-out, z-index 0.1s ease-in-out;
}
.ventana-modal {
    border-radius: 12px;
    background-color: var(--fondo);
}
.texto {
    margin: 30px 25px;
}
.activo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: visible;
    opacity: 100;
}
/*ESTILOS A ELEMENTOS DE ADMIN*/
#admin-cerrar {
    display: flex;
    width: 100%;
    background: none;
    border: none;
}
#admin-cerrar i {
    width: 25px;
    margin-left: auto;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color_pri);
    color: var(--cornsilk);
}
/*RESPONSIVO*/
@media screen and (min-width: 426px) {
    .main-receta {
        flex-direction: column;
    }
    .info-fixed {
        position: sticky;
        top: 10px;
        width: 400px;
    }
    .info-receta {
        padding-top: 20px;
    }
}
@media screen and (min-width: 769px) {
    .main-receta {
        padding-left: 110px;
    }
    .info-fixed {
        position: fixed;
        top: 133px;
        margin-top: 20px;
        right: 20px;
    }
    .div-img {
        height: 70vh;
    }
}