.main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    min-height: 80vh;
    width: 95%;
    border: 1px solid var(--texto_gris);
}
.main h2 {
    width: 100%;
}
/*Menú de botones de acción*/
.main .btns-accion {
    display: flex;
    position: sticky;
    top: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 20%;
    margin: 15px 25px;
}
.btn {
    padding: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
}

.main .h3_ing {
    width: 100%;
}
.btn-activo {
    background-color: var(--cafe);
    color: var(--cornsilk);
}
.div {
    display: none;
    flex-wrap: wrap;
}
.div h3 {
    width: 100%;
}
.div-activo {
    display: flex;
    height: 100%;
    margin: 0 auto;
}
.div-crear {
    position: sticky;
    top: 130px;
    margin: 10px 0;
    padding: 5px;
    border: 2px solid var(--color_pri);
    border-radius: 16px;
    width: 100%;
    background-color: var(--fondo);
}
.div-crear form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.div-crear form input, .div-crear .div-admin-bus input {
    margin-top: 10px;
    padding: 4px 8px;
    border: 2px solid #bbbbbb;
    border-radius: 16px;
    width: 30%;
    transition: all 0.2s ease;
}
.div-crear form input[type= "text" ]:focus, .div-crear form input[type= "text" ]:focus-visible,
.div-crear .div-admin-bus input[type= "text" ]:focus, .div-crear .div-admin-bus input[type= "text" ]:focus-visible {
    outline: none;
    border: 2px solid var(--color_pri);
}
.div-crear form button {
    padding: 8px 10px;
    width: 30%;
    border-radius: 16px;
    border: none;
    background-color: var(--color_pri);
    color: var(--cornsilk);
    cursor: pointer;
}
.main .div .div-datos {
    width: 100%;
    overflow: auto;
}


/*ESTILOS A TABLAS*/
.table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    overflow: auto;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #fafafa;
}
/*ESTILO AL BUSCADOR*/
.div-admin-bus {
    display: flex;
    justify-content: end;
    margin: 10px 0;
}
.div-admin-bus input {
    width: 200px;
}

/*ESTILOS A ACCIONES INGREDIENTES*/
.modal {
    display: flex;
    position: fixed;
    margin: auto;
    opacity: 0;
    visibility: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: -1; /*Para que se ponga detras de todo*/
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, display 0.3s ease-in-out, z-index 0.1s ease-in-out;
}
.activado {
    opacity: 100;
    visibility: visible;
    z-index: 1000;
}
.contenedor-modal {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 30vh;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--cornsilk);
    border: 2px solid var(--color_pri);
    border-radius: 15px;
}
.contenedor-modal p:first-child {
    font-size: 1.5em;
}
.contenedor-modal p:last-child {
    font-size: 0.99em;
}
.ing-btns {
    display: flex;
    gap: 10px;
}
.ing-btn {
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 1.1em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.ing-btn:hover {
    box-shadow: 0px 0px 45px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 45px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -15px rgba(0,0,0,0.75);
    transform: scale(0.95);
}
#btnDel {
    background-color: #b51d1d;
    color: white;
}