h1, h2, h3 {
    font-family: var(--alegraya); /*Cambiar fondo*/
}
.main { /*Estilos al contenedor principal del contenedor*/
    display: flex;
    flex-direction: column;
}
.form-rec-datos {
    margin: 12px 10px;
}
.div-imagen { /*Estilo al contenedor de la imagen*/
    position: relative;
    width: 300px;
    height: 250px;
    border: 2px dashed var(--color_pri);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
    transition: border 0.2s ease;
}
.div-imagen input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}
.div-imagen:hover {
    border: 2px dashed #4fb2fe;
}
.div-imagen.dragover {
    background-color: #e6f7ff;
    border-color: #00b4d8;
}
.titulo {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    border: 2px solid var(--color_pri);
    transition: border 0.2s ease;
}
.titulo:focus, .titulo:focus-visible {
    border: 2px solid var(--gris);
    outline: none;
}
.form-rec-tie {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 15px 10px;
}
.div-tie-prin {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--color_pri);
    padding: 5px 0;
    border-radius: 5px;
    gap: 5px;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.1); /*Efecto sombra*/
}

.tiempo:first-child {
    text-align: right;
}
.tiempo {
    border: none;
    max-width: 30px;
    background: none;
    font-size: 1.2em;
}
.tiempo:focus, .tiempo:focus-visible {
    outline: none;
}
/* Quitar flechas del input tipo numero */
.tiempo::-webkit-outer-spin-button,
.tiempo::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* For Firefox */
/* General fallback */
.tiempo[type=number] {
    appearance: textfield;
}
/*Estilo a parrafo de formato*/
.formato-tiempo {
    width: 100%; /*Para que se vaya hasta abajo gracias a la propiedad flex*/
    color: var(--gris);
    font-size: 0.8em;
}
.form-rec-tie h2 {width: 100%;}
/*Inicio estilos a pildoras de ingredientes y lista de ingredientes*/
.form-rec-ing {
    margin-left: 10px;
}
.btn-lista-ing {
    width: 250px;
    margin: 15px 0;
    padding: 6px 16px; /*Espaciado interno*/
    background-color: var(--color_pri); /*Color de fondo*/
    border: none; /*Sin borde*/
    border-radius: 5px; /*Esquinas redondas*/
    font-weight: bold;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.1); /*Efecto sombra*/
    transition: transform 0.3s ease; /*Movimiento mas suave*/
}
.btn-lista-ing i {font-weight: bold;}
.btn-lista-ing:active {
    transform: translateY(5px);
}
#lis-rec { /*Lista de recetas*/
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    width: 250px;
    border: 2px solid var(--color_pri);
    border-radius: 5px;
    background-color: var(--fondo);
    z-index: 10;
}
.div-rec-buscador {
    width: 100%;
}
#buscador-ingrediente {
    width: 100%;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    padding: 5px;
    border: 2px solid var(--gris);
    border-radius: 5px;
}
#buscador-ingrediente:focus, #buscador-ingrediente:focus-visible {
    outline: none;
}
.contenedor-lista-ing {
    display: flex;
    flex-direction: column;
}
.lista-desactiva {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 10px 5px;
    box-shadow: none;
}
.lista-activa {
    opacity: 1;
    max-height: 450px;
    display: flex;
    height: auto;
    overflow: auto;
    padding: 10px 5px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1);
    transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
}
.lista-ing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid #6f6f6f;
}
.agregar-ingrediente {
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}
.agregar-ingrediente i {
    display: block;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 600;
}
.agregar-ingrediente:hover {
    background-color: var(--color_pri);
}
.agregar-ingrediente i:hover {
    color: var(--cornsilk);
}
#ingredientes-seleccionados {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    margin: 15px 10px;
}
.div-ing-seleccionado {
    border-radius: 12px;
    padding: 4px 15px;
    background-color: var(--fondo);
    border: 1px solid var(--color_pri);
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.1); /*Efecto sombra*/
}
.ipt-cantidad-ing {
    max-width: 50px;
}
.tipo-unidad {
    max-width: 50px;
}
.ipt-cantidad-ing, .tipo-unidad {
    border-radius: 5px;
    margin-left: 5px;
}
.btn-eliminar-ing {
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn-eliminar-ing i {
    display: block;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 600;
}
.btn-eliminar-ing:hover {
    color: #b51d1d;
}
/*Inicio estilo a textarea*/
.form-rec-txt {
    margin: 10px 15px;
}
.form-rec-txt h2 {
    margin: 10px 0;
}
.btn-estilo {
    border: 2px solid var(--color_pri);
    border-radius: 8px;
    padding: 8px 6px;
    background-color: var(--color_pri);
    font-weight: 700;
    cursor: pointer;
}
.crear-paso {
    position: sticky;
    top: 120px;
}
.div-paso {
    margin-top: 15px;
}
.textarea {
    padding: 5px;
    resize: none;
    min-height: 15vh;
    width: 90%;
    border: 1px solid #6f6f6f;
    border-radius: 8px;
    transition: border 0.5s ease;
}
.textarea:focus, .textarea:focus-visible {
    outline: none;
    border: 1px solid var(--color_pri);
}
.div-info-paso {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}
.eliminar-paso {
    border: 2px solid var(--color_pri);
    padding: 8px;
    border-radius: 8px;
    background-color: var(--color_pri);
    font-weight: 700;
    font-size: 1.1em;
    cursor: pointer;
    height: 40px;
}
.form-rec-btn {
    margin: 10px 30px;
}
/*INICIO MEDIA QUERIES*/
@media screen and (min-width: 768px) {
    .main {
        width: 768px;
    }
}