.main-perfil {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 15px;
}
.info-perfil {
    display: flex;
    margin: 10px 0;
    height: auto;
    flex-direction: column;
    width: 45%;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 3px 5px 5px 1px rgba(99,22,0,0.32);
    -webkit-box-shadow: 3px 5px 5px 1px rgba(99,22,0,0.32);
    -moz-box-shadow: 3px 5px 5px 1px rgba(99,22,0,0.32);
}
.info-perfil h1 {
    margin: 30px;
    font-size: 1.8em;
}
.hr {
    display: flex;
    width: 100%;
    margin: 5px auto;
    border-radius: 2px;
    border: 2px solid var(--color_pri);
}
.nav {
    font-size: 0.9em;
}
.seccion-recetas {
    padding: 20px 30px;
    width: 45%;
}
.btns-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.btns-nav .btn-perfil {
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.btns-nav .btn-perfil i, .btns-nav .btn-perfil {
    font-size: 1.05em;
}
.btn-activo {background-color: var(--color_pri);}
.btn-inactivo {background-color: var(--fondo);}

/*ESTILOS A LAS CARDS*/
.recetas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.recetas a {
    width: 49.1%;
}
.cont-receta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    margin: 10px 0;
    overflow: hidden;
    list-style: none;
    border-radius: 10px;
    border: 1px solid var(--color_pri);
    width: 100%;
    /*Sombra a la tarjeta*/
    box-shadow: 3px 5px 5px 1px rgba(99,22,0,0.32);
    -webkit-box-shadow: 3px 5px 5px 1px rgba(99,22,0,0.32);
    -moz-box-shadow: 3px 5px 5px 1px rgba(99,22,0,0.32);
}
.cont-receta .img-receta {
    width: 100%;
    height: 60%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}
.cont-receta .img-receta img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont-receta .texto-receta {
    height: 40%;
    padding: 10px 5px;
}
.receta-titulo {
    height: 30%;
}
.receta-titulo h2 {
    font-family: var(--alegraya);
}
.receta-datos {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*FIN ESTILOS CARDS*/

/*ESTILO CUANDO NO HAY RECETA*/
.sin-receta {
    display: flex;
    margin: 15vh 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sin-receta h3 {
    font-family: var(--alegraya);
}
.sin-receta a {
    display: block;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    width: 200px;
    background-color: var(--color_pri);
}