.main {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}
.div-imagen {
    position: relative;
    width: 300px;
    height: 250px;
    border: 2px dashed var(--color_pri);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    cursor: pointer;
    overflow: hidden;
    margin: 10px auto;
    transition: border 0.2s ease;
}
.div-imagen input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}
.div-imagen:hover {
    border: 2px dashed #4fb2fe;
}
.div-imagen.dragover {
    background-color: #e6f7ff;
    border-color: #00b4d8;
}
#lis-rec {
    display: flex;
    flex-direction: column;
    position: fixed;
}
.lista-desactiva {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.lista-activa {
    max-height: 450px;
    display: flex;
    height: auto;
    transition: all 0.5s ease;
    overflow: auto;
}
#buscador-ingrediente {
    position: sticky;
    top: 0;
}
.textarea {
    resize: none;
    width: 50%;
}