/*Crear variables de colores*/
:root {
    --fondo: #F9F6EE;
    --fondo2: #FFDF77;
    --color_pri: #FFC350;
    --color_sec: #FFCD36;
    --color_ter: #FED35D;

    --cornsilk: #FFF8DC;
    --crema: #FFFDD0;
    --cafe: #F29F39;
    --gris: #847A58;

    --marron_chocolate: #4B3621;
    --texto_gris: #252525;

    --alegraya: 'Alegreya', 'Times New Roman', Times, serif;
    --lato: 'Lato', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--lato); /*Aplicar la fuente en toda la pagina*/
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--fondo); /*Aplicar color de fondo*/
}
a {
    text-decoration: none;
    color: inherit;
}
footer {
    margin-bottom: 60px;
}
ul {
    list-style: none;
}
/*INICIO ESTILO A HEADER*/
#header {
    display: none;
    position: sticky;
    top: 0;
    background: rgba(254, 223, 119, 0.8);
    max-width: 100%;
    width: 100%;
    z-index: 1000;
    padding: 15px 20px;
    box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
    backdrop-filter: blur(25px);
}
.div-inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
/*Estilo al icono*/
.icon img{
    width: 80px;
    height: auto;
}
.div-buscador {
    width: 60%;
}
.div-buscador a {
    display: block;
    width: 100%;
    background-color: #c4c4c4;
}
.div-perfil {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0.5em;
}
.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;
}
/*FIN ESTILO A HEADER*/
/*INICIO ESTILO A NAVEGADOR MOVIL*/
#nav-movil {
    position: fixed;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: 10px 0;
    width: 90%;
    z-index: 1001;
    background: rgb(254, 223, 119, 0.80);
    border-radius: 33px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 15px -5px rgba(0,0,0,0.75);
}
.ul-nav-movil {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px auto;
}
.ul-nav-movil a, .ul-nav-movil button {
    font-size: 1.5em;
    border: none;
    background: none;
    color: #252525;
    transition: all 0.2s ease;
}
.li-nav-movil {
    padding: 7px 9px;
}
/*Ventana modal por si no ha iniciado sesión*/
.nav-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    margin: auto;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.activo {
    z-index: 1001;
    opacity: 1;
    visibility: visible;
}
.contenedor-modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60vh;
    width: 90%;
    margin: auto;
    align-items: center;
    background-color: var(--cornsilk);
    border: 2px solid var(--color_pri);
    border-radius: 15px;
    padding: 16px 8px;
}
.contenedor-modal h2 {font-size: 1.45em;}
.contenedor-modal p {font-size: 1.2em;}

.contenedor-modal p, .contenedor-modal h2 {
    text-align: center;
}
.modal-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50%;
    width: 70%;
    margin: 10px auto;
}
.nav-btn-cerrar {
    display: flex;
    height: 10%;
    width: 90%;
    justify-content: end;
    font-size: 1.2em;
    background: none;
    border: none;
}
.modal-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    height: 30%;
    width: 90%;
}
.modal-btns a {
    width: 80%;
    padding: 16px 10px;
    background-color: var(--color_pri);
    border: none;
    color: var(--cornsilk);
    border-radius: 16px;
}
/*FIN ESTILO A NAVEGADOR MOVIL*/


/*INICIO ESTILO A FOOTER*/
.footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    background-color: var(--fondo2);
}
.ul-postres {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 0.7em;
}
.lista-postres {
    font-weight: 700;
    font-size: 0.8em;
}
.footer-hr {
    display: flex;
    margin: 16px auto;
    width: 95%;
    border: 2px solid var(--color_pri);
    border-radius: 2px;
}
.redes-titulo {
    margin-bottom: 15px;
    text-align: center;
}
.ul-redes {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 15px;
    gap: 15px;
    justify-content: center;
    margin-top: 1em;
}
.lista-redes {
    font-size: 1.2em;
    color: white;
    background-color: var(--cafe);
    padding: 8px 9px;
    border-radius: 50%;
}
.ul-extras {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.lista-texto, a {
    font-size: 0.9em;
    font-weight: 700;
}
/*FIN ESTILO AL FOOTER*/
/*INICIO RESPONSIVE*/

@media screen and (min-width: 345px) {
    /*Responsivo al header*/
    .div-inicio{
        justify-content: start;
        width: auto;
        gap: 10px;
    }
    .titulo {
        text-align: start;
    }
    .iniciar-sesion {
        text-align: center;
    }
}
@media screen and (min-width: 375px) {
    #nav-movil {
        width: 335px;
    }
}
@media screen and (min-width:600px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .extras {
        width: 100%;
        margin: 0 auto;
    }
    .ul-extras {
        margin: 2em auto;
    }
}
@media screen and (min-width: 769px) {
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #nav-movil {
        display: none;
    }
    footer {
        margin-bottom: 0;
    }
    .iniciar-sesion, .buscar {
        display: block;
    }
    .usuario {
        display: flex;
    }
}